project_ccfraud/data
project_prophet/prophet_model.ipynb
project_automl/reg_model.ipynb
project_automl/class_model.ipynb
project_automl/mlruns
project_automl/catboost_info
project_automl/logs.log
*/__pycache__/
